.body {
    background-image: linear-gradient(to bottom, rgb(255,255,255),black);
    height: 125%;
}

h1{
    margin-bottom: 5%;
    text-align: left;
    color: rgb(29, 194, 87);
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

h1 button {
    float: right;
}

.body-playlist{
    width: 60%;
    margin-left: 10%;
    margin-right: 15%;
    bottom: 25%;
    padding-top: 5%;
}

img {
    width: 450px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 3px;
}

.image{
    background-color: none;
    float: left;
    margin-right: 1%;
}

.playlist{
  background-color: white !important;  
  width: 600px;
  margin-left: 55%;
  border-radius: 5px;
}
