<div class="body">
  <form (ngSubmit)="onSubmit(formSingIn.value)">
    <div>
      <mat-form-field class="m-t-10 itemFull">
        <mat-label>E-mail</mat-label>
        <input matInput [formControl]="formSingIn.get('email')" type="email" required>
        <mat-error *ngIf="formSingIn.get('email').errors?.required">O campo é obrigatório</mat-error>
        <mat-error *ngIf="formSingIn.get('email').errors?.email">Digite um e-mail válido</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="m-t-10 itemFull">
        <mat-label>Senha</mat-label>
        <input matInput [formControl]="formSingIn.get('senha')" type="password" required>
        <mat-error *ngIf="formSingIn.get('senha').errors?.required">O campo é obrigatório</mat-error>
        <mat-error *ngIf="formSingIn.get('senha').errors?.minlength">Deve ter no mínimo 6 caracteres.</mat-error>
        <mat-error *ngIf="formSingIn.get('senha').errors?.maxlength">Deve ter no máximo 60 caracteres.</mat-error>
      </mat-form-field>
    </div>

    <div class="m-t-15 text-center">
      <button mat-raised-button color="primary" type="submit" [disabled]="formSingIn.invalid">Logar</button>
    </div>
  </form>
</div>