.body {
    margin-block-start: -8px;
    margin-left: -8px;
    margin-right: -8px;
    border: 110px solid white;
    margin: 0 auto;
    width: 50%; /* Valor da Largura */
}

a {
    color: #1DB954;
    text-decoration: none;
}

.itemFull {
    width: 100%;
}